body {
    background-color: rgb(255, 255, 255);
}
.cabezera {
    
    display: flex;
    grid-template-columns: 150px auto 200px;
    align-items: center;
    justify-content: space-between;
    background: rgb(207, 31, 31);
}

.contenedor {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 33%;
    grid-template-rows: 50px auto 500px 50px;
    grid-template-areas: 
    "navegacion navegacion navegacion"
    "principal principal aside"
    "principal principal aside"
    "footer footer footer";
}
.navegacion {
    grid-area: navegacion;
    display: flex;
    background-color: rgb(28, 83, 204);
    align-items: center;
    justify-content: space-evenly;
}
.maincontent {
    grid-area: principal;
    background-color: rgb(71, 201, 201);
}
.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    background-color: rgb(93, 219, 43);
}

.footer {
    grid-area: footer;
    background-color: rgb(206, 52, 180);
}