body {
    background-color: lightblue;
}
.contenedor {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 60px auto auto 100px;
    grid-template-areas: 
    "verde verde"
    "rosa rojo"
    "rosa naranja"
    ". azul";
}
.navegacion {
    grid-area: verde;
    background-color: green;
}
.principal {
    grid-area: rosa;
    background-color: pink;
}
.valoraciones {
    grid-area: rojo;
    background-color: red;
}
.contacto {
    grid-area: naranja;
    background-color: orange;
}
.footer {
    grid-area: azul;
    background-color: blue;
}